@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");


@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/Century_Gothic.ttf') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/gothicb.ttf') format('woff');
    font-style: bold;
    font-weight: 700;
    font-display: swap;
  }


@layer utilities {
	.main-font {
		/* font-family: 'Century Gothic', sans-serif; */
	}
	@media screen and (max-width: 768px) {
		.brandName {
			text-shadow: 2px 4px #46b9de, 3px 5px #0e182a !important;
			margin-bottom: 0.5rem;
		
		}
	}
	.brandName {
		font-family: "Bangers", "sans-serif";
		letter-spacing: 0.1em;
		-webkit-text-fill-color: #0e182a;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: #fff;
		text-shadow: 8px 8px ##fff, 20px 20px #0e182a;
		margin-bottom: 1rem;
	}

/*Pre Loader*/
/* From uiverse.io by @fanishah */
.spinner {
	display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.spinner .path {
    animation: infinity-load 1.5s infinite cubic-bezier(.65,.05,.36,1)
   }
   
   @keyframes infinity-load {
    to {
     stroke-dashoffset: 10
    }
   }
/*Pre Loader*/
	/**/
		/* From uiverse.io by @namecho */
button.hero_button,
button.hero_button::after {
 padding: 16px 20px;
 font-style: normal;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #40a8cc 5%);
 border: 0;
 color: #fff;
 letter-spacing: 1px;
 text-rendering: optimizeLegibility;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

button.hero_button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #40a8cc 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button.hero_button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}
/**/

/*Header Social Button*/
/* From uiverse.io by @fanishah */
.social_button {
	font-family: inherit;
	font-weight: 400;
	background: #f2295b;
	color: white;
	padding: 0.35em 0;
	font-size: 17px;
	border: none;
	border-radius: 0.7em;
	letter-spacing: 0.08em;
	position: relative;
	display: flex;
	align-content: center;
	align-items: center;
	overflow: hidden;
	height: 2.1em;
	padding-left: 3em;
	padding-right: 0.7em;
   }
   
   .social_button .icon {
	background: #fff;
	margin-right: 1em;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.5em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0.3em;
	transition: all .7s;
   }
   
   .shere {
	width: 1.3rem;
	height: 1.3rem;
	margin-left: 4px;
   }
   
   .social_button:hover .icon {
	width: calc(100% - 0.6rem);
   }
   
   .social_button:hover .shere {
	width: calc(100% - 0.6rem);
	display: none;
   }
   
   .social_button .icon-shere {
	color: #f2295b;
	width: 1.5rem;
	height: 1.5rem;
	display: none;
   }
   
   .social_button:hover .icon .icon-shere {
	display: flex;
   }

/*Header Social Button*/

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

	}
body {
	font-family: "Century Gothic",sans-serif;
	background: #FFF;
	color: #333 !important;	
}
 h2, h3 {
	color: #333 !important;	
	 
 }

.basicBtn {
	@apply cursor-pointer bg-[#1f1b1b] text-white rounded-full shadow-xl px-4 py-1 md:py-2 hover:bg-transparent hover:text-[#1f1b1b] hover:border-2 hover:border-[#1f1b1b] hover:animate-bounce;
}
.secondBtn {
	@apply cursor-pointer bg-transparent text-[#1f1b1b] rounded-full shadow-xl px-4 py-1 md:py-2 border-2 border-[#1f1b1b] hover:animate-bounce;
}
.sectionTitle {
	font-family: "Century Gothic",sans-serif;
	text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
	@apply text-5xl font-bold text-gray-600 p-4 mb-5 max-w-max;
}


.hero {
	background-image: radial-gradient(50% 176%, #fcfcfc 80%, #ffffff 100%);
	/* min-height: 30rem; */
	position: relative;
	overflow: hidden;
	
  }
  .hero__content {
	position: relative;
	align-self: center;
	padding: 3rem 0;
  }
  .snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
  }
  .snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  #snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
  }
  #snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
  }
  @keyframes fall {
	100% {
	  transform: translateY(0);
	}
  }
  
.skill-item_ele {
	flex: 1 1 220px;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
  /*Secondary Button */
  /* From uiverse.io */
.c-button {
	color: #000;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	padding: 0.9em 1.6em;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
   }
   
   .c-button--gooey {
	color: #40a8cc;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 4px solid #40a8cc;
	border-radius: 0;
	position: relative;
	transition: all 700ms ease;
   }
   
   .c-button--gooey .c-button__blobs {
	height: 100%;
	filter: url(#goo);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: -3px;
	right: -1px;
	z-index: -1;
   }
   
   .c-button--gooey .c-button__blobs div {
	background-color: #40a8cc;
	width: 34%;
	height: 100%;
	border-radius: 100%;
	position: absolute;
	transform: scale(1.4) translateY(125%) translateZ(0);
	transition: all 700ms ease;
   }
   
   .c-button--gooey .c-button__blobs div:nth-child(1) {
	left: -5%;
   }
   
   .c-button--gooey .c-button__blobs div:nth-child(2) {
	left: 30%;
	transition-delay: 60ms;
   }
   
   .c-button--gooey .c-button__blobs div:nth-child(3) {
	left: 66%;
	transition-delay: 25ms;
   }
   
   .c-button--gooey:hover {
	color: #fff;
   }
   
   .c-button--gooey:hover .c-button__blobs div {
	transform: scale(1.4) translateY(0) translateZ(0);
   }